.idea/

user-service/target/
auth-service/target/
gateway-service/target/
registry-service/target/
logs/

.settings/org.eclipse.core.resources.prefs

gateway-service/.classpath
gateway-service/.factorypath
gateway-service/.project
gateway-service/.settings/
gateway-service/bin/

registry-service/.classpath
registry-service/.factorypath
registry-service/.project
registry-service/.settings/
registry-service/bin/

auth-service/.classpath
auth-service/.factorypath
auth-service/.project
auth-service/.settings/
auth-service/bin/

user-service/.classpath
user-service/.factorypath
user-service/.project
user-service/.settings/
user-service/bin/

.project

